@model Product
@{
    ViewData["Title"] = "Каталог";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="Catalog" method="post" enctype="multipart/form-data">

    <div class="row">
        @using (PapirusContext db = new PapirusContext())
        {
            @foreach (var item in db.Products)
            {
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-black">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @item.Name
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            @* <div class="col-md-6">
                                @{
                                    var base64 = Convert.ToBase64String(item.Name);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img src="@imgSrc" width="220" height="300" />
                            </div> *@
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="card-text">Фильм</p>
                                    <p class="card-text"><b>Название: </b>@item.Name</p>
                                    <p class="card-text"><b>Количество: </b>@item.TotalAmount</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p>
                                    <a class="btn btn-outline-dark float-right" href="@item.Name">
                                        <i class="bi bi-eye-fill"></i> Смотреть
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </div>
    <div class="foot">

    </div>
</form>